<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>My Website - About</title>
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/app.css') }}"
        />
    </head>
    <body class="flex justify-center bg-blue-300">
        <div class="card max-w-2xl">
            <h1 class="title">Ajani Green</h1>
            <p class="mb-6">
                I am a full stack developer from Jamaica 🇯🇲. For front-end
                development I mainly specialize in ReactJS, more specifically
                Next.js. I have made several projects with this framework, each
                with different goals. In terms of back-end development, I'm able
                to build applications in JavaScript/TypeScript using Express.js
                or any frameworks that use Express such as NestJS. I am also
                able to build RESTful applications using Java Spring, Ktor, or
                FastAPI (Python).
            </p>
            <div class="w-full flex justify-center">
                <img
                    src="{{url_for('static', filename='success_baby.webp')}}"
                    width="640"
                    height="480"
                    alt="Success baby"
                />
            </div>
        </div>
    </body>
</html>
